/*
Theme Name: Theme 1
 */

*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
.container{
	width: 1024px;
	margin: 0 auto;
}

.main{
	width: 75%;
	float: left;
	padding: 20px;
	background-color: #fcc;
}

.sidebar{
	width: 25%;
	float: left;
	padding: 10px;
	background-color: #cfc;
}